.ui-card
  box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);
  border-radius: 0 0 3px 3px
  background: #ffffff
  &__section
    padding: 20px
    .fr-wrapper
      min-height: 180px

.form-section
  margin-bottom: 10px
  display: flex;
  flex-direction: column;
  label
    margin-bottom: 8px
  h1
    font-weight: 600;
    padding: 15px 0px 15px 0px;
    
  input
.ui-title-bar
  &--wrapper
  &__navigation
    cursor: pointer
    display: flex
    flex-direction: row
    i
      padding-top: 4px
  &__main
  &__title
    margin-bottom: 30px
    h1
      font-size: 30px;
      font-weight: 700;
      line-height: 50px;
.ui-page
  &--action

    &__wrapper

.navigation
  padding-left: 45px
  @media screen and (max-width: 991px)
    padding-left: 0px !important
  &--title
    padding: 20px
    background-color: white 
    border-radius: 3px
    box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15)
    margin-bottom: 20px
    input
      outline: none
      border-radius: 3px
      height: 40px
  &--tree
    background-color: white 
    border-radius: 3px
    box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15)
    margin-bottom: 20px
    &__title
      font-weight: 700
      padding: 20px 20px 20px 30px
      font-size: 17px
      margin-bottom: -1px
      border-bottom: 1px solid #d9d9d9
    .tree-view
      &--none
        padding: 30px
        text-align: center
        font-size: 15px
    .rstcustom
      &__node
        height: 58px !important
        margin-bottom: -1px
      &__nodeContent
        width: 100%
      &__rowWrapper
        border: 1px solid #d9d9d9
        padding: 0 !important
        box-sizing: border-box
        &:hover
          opacity: 1 !important
          padding: 0px !important

      &__collapseButton
        top: 44% !important
        padding-left: 34px !important
      &__expandButton
        top: 44% !important
        padding-left: 34px !important
      &__row
        padding-left: 0 !important
      &__rowContents
        box-shadow: none !important
        -webkit-box-shadow: none !important
      &__rowToolbar
        align-items: center
        height: 100%
.button
  &-tree
    height: 35px
    span
      text-align: center
      line-height: 35px
      font-weight: 600
    button
      border-radius: 3px
      border-bottom-right-radius: 0
      border-top-right-radius: 0
      cursor: pointer
      outline: none
      font-weight: 600
      &:hover
        background-color: #ebf5fa

  &-tree--delete
    cursor: pointer
    align-items: center
    padding-left: 10px
    padding-right: 10px
    border-left: none !important
    border: 1px solid #d8d8d8
    border-bottom-color: #bababa
    border-radius: 3px
    border-top-left-radius: 0
    border-bottom-left-radius: 0
    outline: none
    &:hover
      background-color: #ebf5fa

.ui-content
  margin-top: 20px

  &__add-button
    min-width: 115px
    line-height: 32px
    margin-left: 10px
